
$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$footer-backColor: #353535;
$gardient-btn: linear-gradient(352deg,#9356dc 0%, #ff79da 75%);
$section-backColor: #f6f6f6;
$input-backColor: #eaeaea;
$shadow: darken($input-backColor , 10% );
$darker-shadow: darken($input-backColor, 20% );
$spinner-dur: 2s; 
$box-shadow: 6px 8px 15px -6px #d1d1d1;
$font-sizes:1rem;
$color-white: #f6f6f6;
$color-icon:#7e7e7e;
$gradient :linear-gradient(to right bottom, lighten($primary-color, 6), lighten($secondary-color, 5)); 
