/*background images des restaurants*/
.francaise { background-image:url(" ../images/restaurants/la-francaise.jpg"); }
.palette-gout{ background-image: url("../images/restaurants/la-palette.jpg"); }
.delice { background-image: url("../images/restaurants/le-delices.jpg"); }
.note-enchante {background-image: url("../images/restaurants/note-enchante.jpg"); }