header {
    box-shadow: $box-shadow;
    width: 100%;
    min-width: 320px;
    padding: 15px 15px 9px 15px;
    position: relative;
  }
  .logo {
    display: block;
    margin: auto;
    padding: 1px 15px 1px 15px;
    max-width: 168px;
  }
 